<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>북클럽 라운지</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"  />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    </head>
    <style>
        .des {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 120px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    </style>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" style="height: 90px;">
            <div class="container px-5">
                <a class="navbar-brand fw-bold" href="#page-top"><span style="font-size: 70%;">Bookclub</span>Lounge</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" href="/booklounge">북 라운지</a></li>
                    </ul>
<!--                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">-->
                        <button type="button" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 align-items-center" onclick="location.href='login'">로그인</button>
                </div>
            </div>
        </nav>
        <!-- 북클럽 리스트-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">북클럽 리스트</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% if bookclub_list %}
                        {% for bookclub in bookclub_list %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- 북클럽 썸네일-->
                                    <img class="card-img-top" src="{% static 'images/book.png' %}" alt="..." />
                                    <!-- 북클럽 -->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- 북클럽 이름 -->
                                            <h5 class="fw-bolder">{{ bookclub.name }}</h5>
                                            <!-- 북클럽 설명 -->
                                            <div class="des">{{ bookclub.description}}<br></div>
                                            <!-- 최대 참여인원/현재 참여인원 -->
                                            참여 {{ bookclub.max_participate}}/ {{ bookclub.current_participate }}<br>
                                            <!-- 오프라인, 온라인 여부 -->
                                            <b>{{ bookclub.get_on_offline_display}}</b> 참여<br>
                                        </div>
                                    </div>
                                    <!-- 참여하기 버튼 -->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/bookclublounge/bookclub/{{ bookclub.name }}">참여하기</a></div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                       {% else %}
                        <p>현재 개설된 북클럽이 없습니다.</p>
                       {% endif %}


                </div>
            </div>
        </section>
    </body>
</html>
